<!DOCTYPE HTML>
<html>
	<head>
	
		<title>J1 Practice</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<style>
			.formfield{margin-bottom:10px;}
		</style>
	</head>
	<body>
	<p>Problem J2: Epidemiology <a href="https://cemc.uwaterloo.ca/contests/computing/2020/index.html">from the J1 problem hosted by the CCC.</a></p>
	<div id="app">
		<div class="formfield">
			<label>Infected Limit Limit (P) <label> <input v-model="ppl_limit_P">
		</div>
		<div class="formfield">
			<label>Number of people with disease on Day 0 (N) <label> <input v-model="disease_ppl_0_N">
		</div>
		<div class="formfield">
			<label>Number of people that become infected next day(R) <label> <input v-model="infected_ppl_R">
		</div>
		<div id="result">
			<div>Day which total # of people with disease is greater than P: {{totalDays}}</div>
			<p><u style="color:red">Currently crashes if inputs breaks calculation logic. For proper use, input values in code directly.</u></p>
		</div>
	</div>
	
	<script>
	var app = new Vue({
		el: '#app',
		data:{
			diagnostics:true,
			ppl_limit_P:750,
			disease_ppl_0_N:1,
			infected_ppl_R:5
		},
		computed:{
			totalDays:function(){
				var totalInfected = this.disease_ppl_0_N;
				var totalDays = 0;

				if (totalInfected == totalDays){
					return 0;
				}
				else{
					while (totalInfected <= this.ppl_limit_P){
					totalDays = totalDays + 1;
					totalInfected = totalInfected + ((this.infected_ppl_R ** totalDays) * this.disease_ppl_0_N);
					}
					return totalDays;
				}
			}
		}
	});
	
	</script>
	</body>
</html>